.*
*.o
*.d
!/.gitignore
!/.travis.yml
!/.vscode/*
api generator/xml
changelog.md
changelog.txt
tools/api generator/xml/
changelog*
projects/plugin/Builds/
projects/plugin/JuceLibraryCode/
projects/standalone/Builds/
extras/demo_project/Binaries/
*.licence
Autosave*
thumbnails.dat
*.hip
extras/script_module_template/Builds
extras/script_module_template/JuceLibraryCode
hi_scripting/scripting/api/latex/
hi_scripting/scripting/api/html/
hi_dsp_library/doc/html
extras/stereo effect project/Builds
extras/stereo effect project/JuceLibraryCode
JUCE old/
tools/SDK/VST3 SDK/
tools/SDK/ASIOSDK2.3/
JUCE/extras/Projucer/Builds
tools/SDK/vstsdk2.4/
tools/SDK/AAX/
projects/native_jit_test/Builds/MacOSX/NativeJIT Test.xcodeproj/project.xcworkspace/xcuserdata/christophhart.xcuserdatad/UserInterfaceState.xcuserstate
projects/native_jit_test/Builds/
projects/native_jit_test/JuceLibraryCode/

tools/hlac_tool/Builds/
tools/hlac_tool/JuceLibraryCode/
tools/hlac_tool/Source/testSamples/
tools/dsp_api/html/
tools/floating_tile_docs/html/
tools/hise_api/html/
tools/hise_api/upload.ftp
tools/scripting_api/html/
*.tmp
tools/auto_build/Output/
tools/streaming_api/html/
tools/auto_build/install_script.iss
projects/standalone/JuceLibraryCode/
extras/basic_expansion_project/Binaries/
extras/mpe_demo/Binaries/
extras/demo_project/PooledResources/
