h1, .h1, h2, .h2, h3, .h3{
    font-weight: 200 !important;
}

#navrow1, #navrow2, #navrow3, #navrow4, #navrow5{
    border-bottom: 1px solid #EEEEEE;
}

.memproto, .memItemLeft
{
	font-family: "Source Code Pro";
	font-weight: bold;
}

.adjust-right {
margin-left: 30px !important;
font-size: 1.15em !important;
}
.navbar{
 border: 0px solid #222 !important;
}
table{
    white-space:pre-wrap !important;
}
/*
 ===========================
 */


/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
	font-family: "Open Sans" !important;
	font-size: 16px !important;
    line-height: 1.6 !important;
    /* The html and body elements cannot have any padding or margin. */
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit !important;
  font-weight: bold !important;
  letter-spacing: -1px !important;
  line-height: 1.1 !important;
  color: inherit !important;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: 500;
  line-height: 1;
  color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 30px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
  border-bottom: 1px solid #ddd;
}
h4,
.h4 {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
